#preload-01 { background: url(../assets/billetterie/billet_VIP_grossi.png) no-repeat -9999px -9999px; }
#preload-01 { background: url(../assets/billetterie/billet_soiree_grossi.png) no-repeat -9999px -9999px; }
#preload-01 { background: url(../assets/billetterie/billet_classique_grossi.png) no-repeat -9999px -9999px; }

.mainContent {
  background-image: url("../assets/fond_site/image_fond_3_billeterie.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 20%;
  margin-left: 40%;
  padding-top: 3%;
}

.title img {
  width: 100%;
  height: auto;
}

h3 {
  text-align: center;
  color: whitesmoke;
  font-size: clamp(1em, 1vw, 100000px);
}

.billet-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 1% 0 0 20%;
  padding-bottom: 3%;
}

.billet {
  width: 25%;
}

.billet img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 850px){
  .title {
    width: 80%;
    margin-left: 10%;
  }

  .billet-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin:0;
  }

  .billet {
    width: 70%;
    margin-top: 5%;
  }
}
