:root {
  --orange: #ffba09;
  --dark-blue: #2e4d5e;
  --grey: #c4c4c4;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#topSection {
  width: 100%;
  height: 100vh;
  overflow: none;
}

#homeGif {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

