:root {
  --orange: #ffba09;
  --dark-blue: #2e4d5e;
  --grey: #c4c4c4;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#topSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#homeGif {
  width: 70%;
  height: auto;
  margin-left: 15%;
}

#downArrow {
  position: absolute; 
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  top: 90%;
  opacity: 0.8;
}

#bottomSection {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 85vh;
  background: url("../assets/fond_site/image_fond_1_accueil.png") no-repeat center; 
  background-size: cover;
}

.footer-container {
  height: 15vh !important;
}

.menu {
  position: absolute;
  display: flex;
  width: 70%;
  height: 50%;
  top: 25%;
  left: 15%;
}

.carteTop {
  overflow: hidden;
  width: 14%;
  height: auto;
  margin: 0 3% 0 3%;
}

.carteBottom {
  overflow: hidden;
  width: 14%;
  height: auto;
  margin: 10% 3% 0 3%;
}

.carteTop img {
  width: 100%;
  height: auto
}

.carteBottom img {
  width: 100%;
  height: auto
}

@media screen and (max-width: 850px) {
 
  #homeGif {
    width: 100%;
    margin: 40% 0 0 0;
  }

  #bottomSection {
    height: auto; 
    background-repeat: repeat;
  }

  .menu {
    position: inherit;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
  }

  .footer-container {
    height: auto !important;
  }

  .carteTop {
    width: 50%;
    margin-top: 10%;
  }

  .carteBottom {
    width: 50%;
    margin-top: 10%;
  }

}
