.mainContent {
  background-image: url("../assets/fond_site/image_fond_4_log.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  min-height: 90vh;
}

.title {
  width: 20%;
  margin-left: 40%;
  padding-top: 3%;
}

.title img {
  width: 100%;
  height: auto;
}

.where {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin-left:25%;
}

.img-container {
  width: 40%;
}

.where img {
  width: 100%;
  height: auto;
}

.description {
  color: whitesmoke;
  width: 45%;
}

.description h3 {
  font-size:clamp(1.5em, 1.3vw, 10000px);
}

.description p {
  margin: 0;
  font-size:clamp(1.2em, 0.9vw, 10000px);
}

.description .soon {
  margin-top: 5%;
}

.bus {
  width: 60%;
  margin-left: 20%;
  margin-top: 1%;
}

.busA {
  width: 60%;
  margin-left: 20%;
  margin-top: 1%;
}

.busName {
  color: whitesmoke;
  width: 100%;
  text-align: center;
  background-color: var(--dark-blue);
  padding: 0.3%;
  border: solid 3px;
  border-color: var(--orange);
  font-size:clamp(0.8em, 1vw, 10000px);
}


.details {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color:whitesmoke; 
  border: solid 3px;
  padding: 0.3%;
  margin-top: 1%;
  border-color: var(--orange);
  font-size:clamp(1em, 0.9vw, 10000px);
}

#alencon .details {
  padding-bottom: 3%;
}

.dest{
  width: 30%;
  margin-top: 1.5%;

}

.horraire {
  width: 30%;
  text-align: center;
}

.horraire h3 {
  color: var(--orange);
}

#alencon .details .contact {
  position: absolute;
  bottom: 1%;
  margin: 0;
}

.dunkerque-container {
  padding-bottom: 3%;
}

.dunkerque {
  width: 80%;
  margin: 5% 0 0 10%;
  background-color: whitesmoke;
  border: solid 3px;
  border-color: var(--orange);
  padding: 1%;
}

.dunkerque p {
  margin: 0;
  text-align: center;
  font-size:clamp(1em, 1vw, 10000px);
}

@media screen and (max-width: 850px){
  .title {
    width: 80%;
    margin-left: 10%;
  }

  .where {
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }

  .img-container{
    width: 100%;
  }
  
  .description {
    width: 100%;
  }

  .bus {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  .details {
    flex-direction: column;
  }

  #alencon .details {
    padding-bottom: 20%;
  }

  #alencon .details .contact{
    text-align: center;
  }

  .horraire {
    width: 80%;
    margin-left: 10%;
  }

  .dest {
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }
}
