.mainContainer {
  height: auto;
  background: url("../assets/fond_site/image_fond_2_programme.png") no-repeat  center;
  background-size: cover;

}

.title {
  width: 20%;
  margin-left: 40%;
  padding-top: 3%;
}

.title img {
  width: 100%;
  height: auto;
}

.carts {
  display: flex;
  width: 80%;
  overflow: hidden;
  justify-content: space-around;
  margin-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.menu {
  width: 25%;
}

.show {
  width: 25%;
}

.cocktails {
  width: 25%;
}

.carts img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 850px) {

  .mainContainer{
    height: auto;
  }

  .title {
    width: 80%;
    margin-left: 10%;
  }

  .carts {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    margin-bottom: 5%;
  }
  
  .show {
    width: 100%;
    margin-bottom: 5%;
  }

  .cocktails {
    width: 100%;
    margin-bottom: 5%;
  }

  .carts img {
    aspect-ratio: auto;
  }

}
