.mainContainer {
  height: auto;
  padding-bottom: 2%;
  background: url("../assets/fond_site/image_fond_5_sponsor.png") no-repeat;
  background-size: cover;
}

.title {
  width: 20%;
  margin-left: 40%;
  padding-top: 3%;
}

.title img {
  width: 100%;
  height: auto;
}

.sponsorsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  background-color: white;
  border: hidden 5px;
  border-radius: 100px;
}

.sponsorsContainer p {
  font-size: clamp(2em, 3vw, 1000000px);
  text-align: center;
}


.sponsor {
  width: 30%;
  margin: 3% 0 3% 0;
}

.sponsor img {
  width: 100%;
  height: auto;
}

.becomeSponsor {
  display: flex;
  width: 78%;
  background-color: whitesmoke;
  justify-content: space-evenly;
  margin: 5% 0 0 10%;
  border: hidden;
  border-radius: 100px;
  padding: 1%;
}

.becomeSponsor button {
  background-color: var(--dark-blue);
  color: whitesmoke;
  width: 10%;
  padding: 1%;
  border: hidden;
  border-radius: 15px;
  font-size: clamp(15px, 1vw, 10000px);
}

@media screen and (max-width: 850px){
  .title{
    width: 80%;
    margin-left: 10%;
  }

  .sponsorsContainer {
    border-radius: 30px;
  }

  .sponsor {
    width: 80%;
    margin: 10% 0 10% 0;
  }

  .becomeSponsor {
    border-radius: 20px;
    flex-direction: column;
  }

  .becomeSponsor h1 {
    text-align: center;
    font-size: 1em;
  }

  .becomeSponsor button {
    width: 50%;
    margin: 5% 0 5% 25%;
    padding: 3%;
  }
}


