:root {
  --orange: #E2B779;
  --dark-blue: #192450;
  --grey: #c4c4c4;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: montserrat, arial;
}

/* style pour la barre de navigation */

.navbar {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 2%;
  background-color: var(--dark-blue);
  border: solid 3px var(--orange);
  border-radius: 40px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.icon-burger {
  display: none;
}

.icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: black;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* style pour le pied de page */

.footer-container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: var(--orange);
}

.footer-logo {
  position: absolute;
  width: 20%;
  left: 3%;
  z-index: 1;
}

.blocLeft {
  position: absolute;
  left:-50%;
  width: 100%;
  height: 200%;
  background-color: var(--dark-blue);
  transform: rotate(50deg);
  z-index: 0;
}

.blocRight {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 350%;
  background-color: var(--dark-blue);
  transform: rotate(-50deg);
  z-index: 0;
}

.footer-social-media {
  width: 20%;
  margin-left: 20%;
}

.footer-social-media p {
  text-align: center;
  font-size: clamp(0.8em, 1.1vw, 100000px);
}

.logoReseaux {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.logoReseaux i {
  font-size: clamp(1.5em, 1.5vw, 100000px);
  color: black;
}

.footer-info {
  width: 20%;
  margin: 1% 20% 1% 0;
}

.text1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.text2 {
  display: flex;
  flex-direction: column;
}

.footer-info p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: clamp(0.8em, 0.8vw, 100000px);
}

.footer-sponsors {
  position: absolute;
  width: 15%;
  right: 0;
  z-index: 1;
}

.footer-sponsors img {
  width: 75%;
  height: auto;
}

@media screen and (max-width: 850px){

  /* style mobile pour la barre de navigation */
  .navbar {
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    border:none 0px; 
    border-radius: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  
  .navbar ul {
    flex-direction: column;
    justify-content: space-around;
    height: 80%; 
  }

  .navbar li {
    display: flex;
    justify-content: center;
  }

  .icon-burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 11;
  }

  /* style mobile pour le pied de page  */
  .blocLeft {
    display: none;
  }

  .blocRight {
    display: none;
  }

  .footer-container {
    flex-direction: column;
    height: auto;
  }

  .footer-logo {
    display: None;
  }

  .footer-social-media {
    width: 90%;
    margin: 10% 0 5% 0;
  }

  .footer-info {
    width: 90%;
    margin: 5% 0 5% 0;
  }

  .footer-sponsors {
    position: inherit;
    width: 80%;
    margin: 5% 0 5% 0;
  }

  .footer-sponsors img {
    width: 100%;
    height: auto;
  }
}
